html {
	font-size: 100%;
	font-family: Arial;
}

.container .box {
	min-height: 200px;
	line-height: 200px;
	width: 32%;
	border: 2px solid black;
	float: left;
	text-align: center;
	font-size: 60px;
	vertical-align: middle;
}

.container {
	width: 100%;
}

.content {
	padding: 5%;
	width: 600px;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
}

#gamestage {
	text-align: center;
	height: 20px;
}

#winbox {
	text-align: center;
	height: 20px;
}

.winsquaresx {
	background-color: blue;
	font-size: 50px;
	color: white;
}

.winsquareso {
	background-color: red;
	font-size: 50px;
	color: white;
}